.menu {
  position: relative;
  padding: 100px 0;
  background-image: url(../images/background_menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #fff;
  text-align: center;
  z-index: 2;
}

.menu__title {
  display: block;
  margin: 0 auto 24px auto;
  max-width: 780px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.menu__subtitle {
  display: block;
  margin: 0 auto 100px auto;
  max-width: 780px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.menu__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

